:root{
  --cor-1: #e23e57;
  --cor-2: #ffffff;
  --cor-3: #e96a7e;
  --cor-4: #ce1f3a;
  --cor-5: #e6e6e6;
  --cor-6: #ef97a4;
}

body{
  color: var(--cor-2);
  background-color: var(--cor-4);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  width: 12px;
}
body::-webkit-scrollbar-track{
  background-color: var(--cor-2);
}
body::-webkit-scrollbar-thumb{
  background-color: var(--cor-4);
  border-radius: 10px;
  border-color: var(--cor-2);
  border-style: solid;
}
.header{
  background-color: var(--cor-5);
  color: var(--cor-4);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0px 10px var(--cor-5);
}

.header input[type="text"]{
  width: 25%;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  outline: none;
  padding: 10px;
  background-color: var(--cor-4);
  color: var(--cor-2);
  font-size: 20px;
  margin-right: 1%;
}
.header input[type="submit"]{
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  width: 100px;
  border-radius: 10px;
  border-style: none;
  outline: none;
  background-color: var(--cor-4);
  color: var(--cor-5);
}

.header button{
  padding: 1%;
  margin-right: 5%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 20px;
  cursor: pointer;
  border-radius: 100px;
  border-style: none;
  background-color: var(--cor-5);
  color: var(--cor-1);
  box-shadow: 0px 0px 10px var(--cor-2);
  text-shadow: 0px 0px 10px var(--cor-3);
  outline: none;
}

.header button:hover{
  transition: 0.3s;
  box-shadow: 0px 0px 10px var(--cor-1);
  background-color: var(--cor-1);
  color: var(--cor-2);
}
#banner{
  background: url(/public/img/promocao.gif);
  background-repeat: no-repeat;
  width: 1900px;
  box-shadow: 0px 0px 10px var(--cor-2);
  margin-left: 4px;
}
#banner:hover{
  transition: 0.2s;
  box-shadow: 0px 0px 10px var(--cor-6);
}
.produtos{
  background-color: white;
  margin-right: 4%;
  margin-left: 0.5%;
  color: var(--cor-4);
  padding: 20px;
  padding-right: 4%;
  box-shadow: 0px 0px 10px var(--cor-2);
  text-shadow: 0px 0px 10px var(--cor-3);
}

.produtos:hover{
  transition: 0.2s;
  color: var(--cor-1);
  box-shadow: 0px 0px 10px var(--cor-5);
  background-color: var(--cor-6);
}
.vendas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 70px;
  padding-left: 0%;
  justify-content: 10px;
}

.produtos div{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.produto-imagem {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .produtos {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .produtos {
    width: 100%;
    margin: 10px 0;
  }

  .produtos h1 {
    font-size: 1em;
  }

  .produtos h2 {
    font-size: 1.2em;
  }

  .produtos h3 {
    font-size: 0.9em;
  }
  #banner{
    margin: 0;
    width: auto;
    background: url(/public/img/promocao-1.gif);
  }
  .header{
    flex-direction: column;
    gap: 30px;
    width: auto;
  }
}

